* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.button,
.btn {
    padding: 8px;
    font-size: 15px;
    text-align: center;
}
.timerClock{
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 100px; 
    text-align:right;
    padding-right: 15px;
}

.hello {
    font-size: 20px;
    text-align: center;
    margin-top:auto;
    padding: 50px 200px;
}

.ansBtn,
.ansBtn:hover,
.ansBtn:active,
.ansBtn:focus,
.ansBtn:active:focus {
    box-shadow: none;
    outline: none;
    color: black; 
    text-align: center;
}

.choices {
    font-size: 20px;
    margin-top:auto;
    margin-left: 43%;
}